$body-bg: #ffffff !default;
$body-font-color: #666666 !default;
$highlight-font-color: #333333 !default;
$border-color: #cdcdcd !default;
$background-color: #f1f1f1 !default;
$dropdown-odd-background-color: #f8f8f8 !default;
$dropdown-even-background-color: #ffffff !default;