ul.token-input-list { overflow: hidden; height: auto !important; height: 1%; width: 100%; border: 1px solid #cccccc; cursor: text; font-size: 14px; z-index: 999; margin: 0; padding: 0; background-color: #fff; list-style-type: none; clear: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul.token-input-list li { list-style-type: none; }
ul.token-input-list li input, ul.token-input-list li input:focus { border: 1px solid transparent; margin: 0; height: auto; width: 100% !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background-color: #fff; -webkit-appearance: caret; }
ul.token-input-list li.token-input-token { overflow: hidden; height: auto !important; margin: 3px; padding: 3px 5px; background-color: #ececec; color: #666; font-weight: bold; cursor: default; display: block; }
ul.token-input-list li.token-input-token p { float: left; padding: 0; margin: 0; font-size: 14px; line-height: 18px; }
ul.token-input-list li.token-input-token span { float: right; color: #666; cursor: pointer; }
ul.token-input-list li.token-input-selected-token { background-color: #e4e4e4; color: #595959; }
ul.token-input-list li.token-input-selected-token span { font-weight: bold; }
ul.token-input-list.token-input-disabled li.token-input-token { background-color: #f1f1f1; color: #666; }
ul.token-input-list .elgg-image-block.elgg-tokeninput-token { float: left; width: 95%; }
ul.token-input-list .elgg-image-block.elgg-tokeninput-token .elgg-body { padding: 4px 0 3px 0; font-size: 14px; line-height: 18px; font-weight: normal; }
ul.token-input-list .elgg-image-block.elgg-tokeninput-token .elgg-image, ul.token-input-list .elgg-image-block.elgg-tokeninput-token .elgg-image img { max-width: 25px; max-height: 25px; height: auto; overflow: hidden; }

div.token-input-dropdown { position: absolute; width: 100%; background-color: #fff; overflow: hidden; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; cursor: default; font-size: emCalc(12px); z-index: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div.token-input-dropdown p { margin: 0; padding: 5px; font-size: 14px; line-height: 18px; color: #666; }
div.token-input-dropdown ul { margin: 0; padding: 0; }
div.token-input-dropdown ul li { background-color: #fff; padding: 3px; font-size: 14px; font-weight: normal; list-style-type: none; }
div.token-input-dropdown ul li.token-input-dropdown-item { background-color: #ececec; }
div.token-input-dropdown ul li.token-input-dropdown-item2 { background-color: #fff; }
div.token-input-dropdown ul li.token-input-selected-dropdown-item { background-color: #e4e4e4; color: #595959; }
div.token-input-dropdown ul li em { font-weight: normal; font-style: normal; }
div.token-input-dropdown .elgg-tokeninput-suggestion { margin: 3px; }
div.token-input-dropdown .elgg-tokeninput-suggestion .elgg-tokeninput-suggestion .elgg-image { margin-right: 10px; }
div.token-input-dropdown .elgg-tokeninput-suggestion .elgg-image, div.token-input-dropdown .elgg-tokeninput-suggestion .elgg-image img { max-width: 25px; max-height: 25px; height: auto; overflow: hidden; }

.elgg-image-block.elgg-tokeninput-token { padding: 0; }

.token-input-delete-token { font-family: 'Helvetica', sans-serif; }
