:root {
	--tokeninput-body-bg: #ffffff;
	--tokeninput-font-color: #666666;
	--tokeninput-highlight-font-color: #333333;
	--tokeninput-border-color: #cdcdcd;
	--tokeninput-background-color: #f1f1f1;
	--tokeninput-dropdown-odd-bg: #f8f8f8;
	--tokeninput-dropdown-even-bg: #ffffff;
}

ul.token-input-list {
	overflow: hidden;
	height: auto !important;
	width: 100%;
	border: 1px solid var(--tokeninput-border-color);
	cursor: text;
	font-size: 14px;
	z-index: 999;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
	clear: left;
	box-sizing: border-box;
}

ul.token-input-list li {
	list-style-type: none;
}

ul.token-input-list li input,
ul.token-input-list li input:focus {
	border: 1px solid transparent;
	margin: 0;
	height: auto;
	width: 100% !important;
	box-shadow: none;
	background-color: #fff;
}

ul.token-input-list li.token-input-token {
	overflow: hidden;
	height: auto !important;
	margin: 3px;
	padding: 3px 5px;
	background-color: var(--tokeninput-background-color);
	color: var(--tokeninput-font-color);
	font-weight: bold;
	cursor: default;
	display: block;
}

ul.token-input-list li.token-input-token p {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
}

ul.token-input-list li.token-input-token span {
	float: right;
	color: var(--tokeninput-font-color);
	cursor: pointer;
}

ul.token-input-list li.token-input-selected-token {
	background-color: var(--tokeninput-background-color);
	color: var(--tokeninput-highlight-font-color);
}

ul.token-input-list li.token-input-selected-token span {
	font-weight: bold;
}

ul.token-input-list.token-input-disabled li.token-input-token {
	background-color: var(--tokeninput-body-bg);
	color: var(--tokeninput-font-color);
}

ul.token-input-list .elgg-image-block.elgg-tokeninput-token {
	float: left;
	width: 95%;
}

ul.token-input-list .elgg-image-block.elgg-tokeninput-token .elgg-body {
	padding: 4px 0 3px 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}

ul.token-input-list .elgg-image-block.elgg-tokeninput-token .elgg-image,
ul.token-input-list .elgg-image-block.elgg-tokeninput-token .elgg-image img {
	max-width: 25px;
	max-height: 25px;
	height: auto;
	overflow: hidden;
}

ul.token-input-list.ui-sortable .token-input-token {
	cursor: move;
}

.token-input-token-placeholder {
	height: 30px;
	border: 1px dashed var(--tokeninput-border-color);
	display: block;
	width: 100%;
	margin: 3px;
}

div.token-input-dropdown {
	position: absolute;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	border-left: 1px solid var(--tokeninput-border-color);
	border-right: 1px solid var(--tokeninput-border-color);
	border-bottom: 1px solid var(--tokeninput-border-color);
	cursor: default;
	font-size: 12px;
	z-index: 1200 !important;
	box-sizing: border-box;
}

div.token-input-dropdown p {
	margin: 0;
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
	color: var(--tokeninput-font-color);
}

div.token-input-dropdown ul {
	margin: 0;
	padding: 0;
}

div.token-input-dropdown ul li {
	background-color: #fff;
	padding: 3px;
	font-size: 14px;
	font-weight: normal;
	list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
	background-color: var(--tokeninput-dropdown-odd-bg);
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
	background-color: var(--tokeninput-dropdown-even-bg);
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	background-color: var(--tokeninput-background-color);
	color: var(--tokeninput-highlight-font-color);
}

div.token-input-dropdown ul li em {
	font-weight: normal;
	font-style: normal;
}

div.token-input-dropdown .elgg-tokeninput-suggestion {
	margin: 3px;
}

div.token-input-dropdown .elgg-tokeninput-suggestion .elgg-image {
	margin-right: 10px;
}

div.token-input-dropdown .elgg-tokeninput-suggestion .elgg-image,
div.token-input-dropdown .elgg-tokeninput-suggestion .elgg-image img {
	max-width: 25px;
	max-height: 25px;
	height: auto;
	overflow: hidden;
}

.elgg-image-block.elgg-tokeninput-token {
	padding: 0;
}

.token-input-delete-token {
	font-family: 'Helvetica', sans-serif;
	cursor: pointer;
}
